.container {
    position: relative;
    margin: 150px auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    perspective-origin: 500px;
    transform: rotateY(130deg);
    transform-style: preserve-3d;
}

.box1 {
    position: absolute;
    background: red;
    width:100%;
    height: 100%;
    transform: 
    rotateY(80deg);
  
    color: white;
    font-family: sans-serif;
    text-align: center;
    backface-visibility: hidden;
}

.box2 {
    position: absolute;
    background: blue;
    width:100%;
    height: 100%;
    transform: 
    translateX(1rem)
    translateZ(-10rem);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

