/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */

html {
    font-size: 16px;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #333333;
    background-color: #0d1c32;
  }
  
  /* 2. Typography Styles
  ======================================== */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Barlow Condensed', Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
    transition: font-size 0.25s ease;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: calc(100px / 1.25);
    line-height: 0.85;
  }
  h2 {
    font-size: calc(65px / 1.25);
    margin-top: 10px;
    line-height: 0.85;
  }
  @media(min-width: 1024px) {
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 60px;
    }
  }
  p {
    font-family: 'Barlow', Georgia, serif;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 15px;
  }
  a {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
    color: #0d1c32;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 23px;
    list-style: none;
  }
  img{
    width: 100%;
    display: block;
    max-width: 100%;
    
    max-height: 500px;
    overflow: hidden;

     /* corrects inline gap in enclosing div */
  display: block;
  max-width: 100%;
  /* just in case, to force correct aspect ratio */
  height: auto !important;
  width: auto\9; /* ie8+9 */
  /* lt ie8 */
  -ms-interpolation-mode: bicubic; 
  }

  iframe {
    width: 45%;
    height: 350px;
  
  }

  /*3. Structure Styles
  ======================================== */
  .container {
    margin-left: 5%;
    max-width: 1280px;
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;


  }




/* 6. Page Styles
======================================== */

  
  #img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  

  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  }

figure > blockquote {
    margin-left: -5px;
    font-size: medium;
    background-color: #0d1c32;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    
}