body {
    font-family: 'Monotserrat', sans-serif;
}

#product-overview {
    background-color: #ff1b68;
}


h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf5c;
}